modules = ["python-3.12", "bash"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 bot.py"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
MONGO_URL = "mongodb+srv://bsdk:betichod@cluster0.fgj1r9z.mongodb.net/?retryWrites=true&w=majority"
PREMIUM_SESSION = "AgFwyZ4APpDriQpvyiFCN92WeGmFX0zjUWa8yWcj0LoVvMoWH7VOMxDnO4v71-UntQjYsHdv-tKTsEOJBKzrN9WWE6KTjHBZTSbE-ePcg5vboI4iCrmVyORK1okb1QsiUVbJpqcddNT07MYLI4e96XAvjmBtwu94m0gQ14iuvPgmzBkSrutjbbdtvGbNoYbwAAgEoNMqNLaKk4xsezvy0Ro9ObtTh6GwlPzrf4FKpPr5bXt7nGK-lsRdKjb0avvEDW_HEaZTqZa5EAClmzYFpLwBkB4PzSbnmXhgz_sZAmqJR4JSqlvodxqNag_KnphQKjKLrMPsYpFD8-q0Z6i_oCvC4JvAeAAAAAHqW472AA"
